{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- site metas -->
      <title>cla</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">

      <!-- CSS -->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

      <!-- favicon -->
      <link rel="icon" href="{{ url_for('static', filename='images/fevicon.png') }}" type="image/gif">
   </head>
   <body class="main-layout">
      <!-- loader -->
      <div class="loader_bg">
         <div class="loader">
            <img src="{{ url_for('static', filename='images/loading.gif') }}" alt="#" />
         </div>
      </div>

      <!-- header -->
      <header>
         <div class="header">
            <div class="container-fluid">
               <div class="row align-items-center justify-content-center">
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                     <nav class="navigation navbar navbar-expand-md navbar-dark">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
                           aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                           <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarsExample04">
                           <ul class="navbar-nav mr-auto">
                              <li class="nav-item active">
                                <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('about') }}">About</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('product') }}">Products</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('contact') }}">Contact Us</a>
                            </li>
                              <li class="nav-item d_none">
                                <a class="nav-link" href="{{ url_for('search') }}"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </li>
                              <li class="nav-item d_none">
                                 <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                              </li>
                           </ul>
                        </div>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </header>

      <!-- banner -->
      <section class="banner_main">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <div class="text-bg">
                     <span>Smarter Devices, Better</span>
                     <h1>Accessories</h1>
                     <p>Discover high-quality accessories designed to enhance your productivity and upgrade your digital experience</p>
                     <a href="{{ url_for('product') }}">Buy Now</a>
                     <a href="{{ url_for('contact') }}">Contact</a>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="text_img">
                     <img src="{{ url_for('static', filename='images/pct.png') }}" alt="Product Image">
                  </div>
               </div>
            </div>
         </div>
      </section>

      
      <!--  contact -->
      <div class="contact">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Contact Now</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-10 offset-md-1">
                  <form id="request" class="main_form">
                     <div class="row">
                        <div class="col-md-12 ">
                           <input class="contactus" placeholder="Name" type="type" name="Name"> 
                        </div>
                        <div class="col-md-12">
                           <input class="contactus" placeholder="Email" type="type" name="Email"> 
                        </div>
                        <div class="col-md-12">
                           <input class="contactus" placeholder="Phone Number" type="type" name="Phone Number">                          
                        </div>
                        <div class="col-md-12">
                           <textarea class="textarea" placeholder="Message" type="type" Message="Name">Message </textarea>
                        </div>
                        <div class="col-md-12">
                           <button class="send_btn">Send</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <footer>
<footer>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
          <ul class="social_icon">
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          </ul>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
          <h3>About Super Star</h3>
          <ul class="about_us">
            <li>Your one-stop shop for the latest and greatest in electronics.</li>
            <li>Top brands, unbeatable prices, and expert support.</li>
            <li>Committed to quality and customer satisfaction.</li>
          </ul>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
          <h3>Contact Us</h3>
          <ul class="conta">
            <li>Email: support@superstar.com</li>
            <li>Phone: +1 234 567 8900</li>
            <li>1234 Ramallah</li>
            <li>Mon - Fri: 9:00 AM - 6:00 PM</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>


      <!-- JS scripts -->
      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
   </body>
</html>
{% endblock %}
