{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Search Products</h2>
    <form method="POST" action="{{ url_for('search') }}">
        <div class="form-group">
            <label>Keyword (Product Name or Category)</label>
            <input type="text" name="keyword" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-success mt-3">Search</button>
    </form>

    {% if products %}
    <h3 class="mt-5">Search Results:</h3>
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>ID</th><th>Name</th><th>Category</th><th>Price</th><th>Stock Qty</th><th>Arrival Date</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.product_id }}</td>
                <td>{{ product.product_name }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.stock_quantity }}</td>
                <td>{{ product.stock_arrival_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}
